BOT_TOKEN=your_telegram_bot_token
CHANNEL_ID=-100xxxxxxxxxx
GROUP_ID=-100xxxxxxxxxx
BAGS_WALLET=3nCpr7qw5mGVXofKS75PLNvv5xfJE3wY9c5JKDGPeAd2
SOLANA_RPC=https://api.mainnet-beta.solana.com
ADMIN_TG_ID=your_telegram_id
BAGS_APIKEY=your_bags_api_key
TWITTER_BEARER=
API_SECRET=your_api_secret_for_middleware
BACKEND_URL=http://localhost:3001
X_SOURCE=auto
RSS_FEEDS=
